<div class="book-detail">
  <h3>{{title}}</h3>
  <p><strong>Authors:</strong> {{authors}}</p>
  <p><strong>Publisher:</strong> {{publisher}}</p>
  {{#thumbnail}}
    <img src="{{thumbnail}}" alt="{{title}}" />
  {{/thumbnail}}
  <p><strong>Description:</strong> {{description}}</p>
</div>
